SECRET_KEY=
DJANGO_ALLOWED_HOSTS
DEBUG=[True|False]

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
SQL_HOST=theatre-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content

# ======================
# Elasticsearch
# ======================
ES_HOST=elastic_search
ELASTIC_HOST_NAME=elastic_search
ES_PORT=9200

# ======================
# Redis
# ======================
REDIS_HOST=redis
REDIS_PORT=6379